<h2>Log In</h2>

<%= form_tag sessions_path do %>
  <div class="input-field">
    <%= label_tag :username %>
    <div class="controls">
      <%= text_field_tag :username, params[:username] %>
    </div>
  </div>

  <div class="input-field">
    <%= label_tag :password %>
    <div class="controls">
      <%= password_field_tag :password %>
    </div>
  </div>
  <br>

  <div class="actions">
    <button class="btn waves-effect waves-light" type="submit" name="action">Log In</button>
  </div>

<% end %>