<h2><%= model_name.capitalize %></h2>

<!-- Tab Structure -->
<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a class="active" href="#state_1"><%= tab1_name.capitalize %></a></li>
      <li class="tab col s3"><a href="#state_2"><%= tab2_name.capitalize %></a></li>
    </ul>
  </div>

  <!-- Tab 1 -->
  <%= render partial: "#{tab1_data}" %>

  <!-- Tab 2 -->
  <%= render partial: "#{tab2_data}" %>

</div>

<%= link_to "New #{model_name}", eval("new_#{model_name}_path"), :class => 'btn deep-orange lighten-1' %>
<br><br>