<!-- dropdown content -->
<ul id="customer" class="dropdown-content">
  <li><%= link_to "Customer List", customers_path %></li>
  <li><%= link_to "New Cusomer", new_customer_path %></li>
</ul>

<ul id="user" class="dropdown-content">
  <li><%= link_to "User List", users_path %></li>
  <li><%= link_to "New User", new_user_path %></li>
</ul>

<ul id="address" class="dropdown-content">
  <li><%= link_to "Address List", addresses_path %></li>
  <li><%= link_to "New Address", new_address_path %></li>
</ul>

<ul id="order" class="dropdown-content">
  <li><%= link_to "Order List", orders_path %></li>
  <li><%= link_to "New Order", new_order_path %></li>
</ul>

<ul id="item" class="dropdown-content">
  <li><a href="/items">Item List</a></li>
  <li><%= link_to "New Item", new_item_path %></li>
</ul>

<ul id="account" class="dropdown-content">
  <% if logged_in? %>
    <!-- baker -->
    <% if current_user.role?(:baker) %>
      <li><%= link_to "My Account", user_path(current_user) %></li>
      <li><%= link_to "Logout", logout_path %></li>
    
    <!-- shipper -->
    <% current_user.role?(:shipper) %>
      <li><%= link_to "My Account", user_path(current_user) %></li>
      <li><%= link_to "Logout", logout_path %></li>
  	
    <!-- customer -->
    <% current_user.role?(:customer) %>
  		<li><%= link_to "My Account", customer_path(current_user.customer) %></li>
      <li><%= link_to "Addresses", addresses_path %></li>
      <li><%= link_to "Orders", orders_path %></li>
  	  <li><%= link_to "Logout", logout_path %></li>

    <!-- admin -->
    <% else %>
    	<li><%= link_to "Dashboard", dashboard_path %></li>
      <li><%= link_to "My Account", user_path(current_user) %></li>
  	  <li><%= link_to "Logout", logout_path %></li>
    <% end %>
	<% end %>
</ul>