<%= render "partials/nav_dropdown" %>

<!-- NAV BAR -->
<nav>
  <div class="nav-wrapper">
    <a href="/home" class="brand-logo"><%= image_tag 'logo_be.png' %></a>
    <a href="#" data-activates="collapse" class="button-collapse">
      <i class="mdi-navigation-menu"></i>
    </a>
    <!-- TOP NAV -->
    <ul class="right hide-on-med-and-down">
      <% if !logged_in? %>
      <li><a href="/login">Log In<i class="mdi-action-lock-open left"></i></a></li>
      <% end %>

      <% if logged_in? && current_user.role?(:customer) %>
      <li><a href="/items">Menu</a></li>
      <li><a href="/cart">Cart</i></a></li>
      <li><a class="dropdown-button" href="/user" data-activates="account">Account<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
      <% end %>

      <% if logged_in? && current_user.role?(:admin) %>
      <li><a class="dropdown-button" href="/customers" data-activates="customer">Customers<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
      <li><a class="dropdown-button" href="/addresses" data-activates="address">Addresses<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
      <li><a class="dropdown-button" href="/orders" data-activates="order">Orders<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
      <li><a href="/items">Items</a></li>
      <li><a href="/cart">Cart</a></li>
      <li><a class="dropdown-button" href="/sessions" data-activates="account">Account<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
      <% end %>
    </ul>
    <!-- SIDE NAV -->
    <ul class="side-nav" id="collapse">
      <li><%= link_to 'Customers', customers_path %></li>
      <li><%= link_to 'Orders', orders_path %></li>
      <li><%= link_to 'Addresses', addresses_path %></li>
    </ul>
  </div>
</nav>

