<!-- dropdown content -->
<ul id="customer" class="dropdown-content">
  <li><%= link_to "Customer List", customers_path %></li>
  <li><%= link_to "New Cusomer", new_customer_path %></li>
</ul>

<ul id="address" class="dropdown-content">
  <li><%= link_to "Address List", addresses_path %></li>
  <li><%= link_to "New Address", new_address_path %></li>
</ul>

<ul id="order" class="dropdown-content">
  <li><%= link_to "Order List", orders_path %></li>
  <li><%= link_to "New Order", new_order_path %></li>
</ul>

<ul id="account" class="dropdown-content">
  <li><%= link_to "Logout", logout_path %></li>
</ul>