<div class="row">
	<div class="col s4">
		<div class="card-panel cyan accent-4">
			<div class="card-content white-text">
				<div class="row">
					<p class="white-text">Total Users</p>
					<div class="col s6">
						<i class="medium mdi-action-account-child"></i>
					</div>
					<div class="col s6">
						<br>
						<h2 class="white-text"><%= @total_users %></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col s4">
		<div class="card-panel blue-grey">
			<div class="card-content white-text">
				<div class="row">
					<p class="white-text">Orders Placed Today</p>
					<div class="col s6">
						<i class="medium mdi-av-playlist-add"></i>
					</div>
					<div class="col s6">
						<br>
						<h2 class="white-text"><%= @today_orders %></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col s4">
		<div class="card-panel pink accent-3">
			<div class="card-content white-text">
				<div class="row">
					<p class="white-text">Today's Sales</p>
					<div class="col s6">
						<i class="medium mdi-editor-attach-money"></i>
					</div>
					<div class="col s6">
						<br>
						<h2 class="white-text"><%= number_to_currency @today_sales %></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s4">
		<div class="card-panel purple darken-1">
			<div class="card-content white-text">
				<div class="row">
					<p class="white-text">Items to Bake</p>
					<div class="col s6">
						<i class="medium mdi-image-wb-cloudy"></i>
					</div>
					<div class="col s6">
						<br>
						<h2 class="white-text"><%= @today_bake %></h2>
					</div>
					<%= link_to "Baking List >", baking_list_path, class: "white-text"%>
				</div>
			</div>
		</div>
	</div>
	<div class="col s4">
		<div class="card-panel amber darken-4">
			<div class="card-content white-text">
				<div class="row">
					<p class="white-text">Orders to Be Shipped</p>
					<div class="col s6">
						<i class="medium mdi-maps-local-shipping"></i>
					</div>
					<div class="col s6">
						<br>
						<h2 class="white-text"><%= @today_ship %></h2>
					</div>
					<%= link_to "Shipping List >", shipping_list_path, class: "white-text" %>
				</div>
			</div>
		</div>
	</div>
	<div class="col s4">
		<div class="card-panel light-green accent-3">
			<div class="card-content white-text">
				<div class="row">
					<p class="white-text">Most Popular Item</p>
					<div class="col s6">
						<i class="medium mdi-action-stars"></i>
					</div>
					<div class="col s6">
						<br>
						<h3 class="white-text">Blueberry Muffins</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>