<h2>Customer Information</h2>

<b>Name:&nbsp;&nbsp;</b><br>
  <%= @customer.first_name %> <%= @customer.last_name %><br /><br />

<b>Phone:&nbsp;&nbsp;</b><br>
  <%= number_to_phone(@customer.phone) %><br /><br />

<b>Email:&nbsp;&nbsp;</b><br>
  <%= mail_to @customer.email, @customer.email, encode: "javascript" %>
<br /><br />

<b>A Bread Express customer since <%= @customer.created_at.strftime("%Y") %></b>