<div class="row">
  <div class="input-field col s6">
    <%= f.input :first_name, label: "First name", required: false %>
  </div>
  <div class="input-field col s6">
    <%= f.input :last_name, label: "Last name", required: false %>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <%= f.input :phone, label: "Phone", required: false %>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <%= f.input :email, label: "Email", required: false %>
  </div>
</div>
<div class="field">
  <p><br>
    <%= f.check_box :active %>
    <%= f.label :active %>
  </p>
</div>

<br>