<div class="row">
  <div class="input-field col s12">
    <%= f.input :username, label: "Username", required: false %>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <%= f.input :password, label: "Password", required: false %>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <%= f.input :password_confirmation, label: "Password Confirmation", required: false %>
  </div>
</div>
<div class="field">
  <p><br>
    <%= f.check_box :active %>
    <%= f.label :active %>
  </p>
  <br>
</div>