<div class="row">
  <div class="input-field col s6">
    <%= f.label :first_name, required: false %>
    <%= f.text_field :first_name %>
  </div>
  <div class="input-field col s6">
    <%= f.label :last_name, required: false %>
    <%= f.text_field :last_name %>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <%= f.label :phone, required: false %>
    <%= f.text_field :phone %>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <%= f.label :email, required: false %>
    <%= f.text_field :email %>
  </div>
</div>
<div class="field">
  <p>
    <%= f.check_box :active %>
    <%= f.label :active %>
  </p>
</div>

<br>