<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h3>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="input-field col s6">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name %>
    </div>
    <div class="input-field col s6">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :phone %><br />
      <%= f.text_field :phone %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="row">
    <p>
      <%= f.check_box :active %>
      <%= f.label :active %><br />
    </p>
  </div>
  <div class="form-actions">
    <%= f.submit nil, class: 'btn' %>
    <%= link_to 'Cancel', customers_path, :class => 'btn deep-orange lighten-3' %>
  </div>
<% end %>