<h2>Customers</h2>

<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#active">Active Customers</a></li>
        <li class="tab col s3"><a href="#inactive">Inactive Customers</a></li>
      </ul>
    </div>

  <!-- Show active customers -->
  <div id="active" class="col s12">
    <% unless @active_customers.empty? %><br />
    <div class="card">
      <div class="card-content grey-text text-darken-3">
        <table class="hoverable">
          <thead>
            <tr>
              <th align="center">Name</th>
              <th align="center">Phone</th>
              <th align="center">Email</th>
            </tr>
          </thead>

      <% @active_customers.each do |customer| %>
        <tr>
          <td><%= link_to customer.name, customer_path(customer) %></td>
          <td><%= number_to_phone customer.phone %></td>
          <td>
            <div id="email"><%= mail_to customer.email, customer.email, encode: "javascript" %>
            </div>
          </td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>

    <!-- Add the pagination using will_paginate gem -->
    <br />
    <span class="paginate">
    <%= will_paginate @active_customers, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
    </span>
    <br />
    <% else %>
    <br />

    <!-- No active customers -->
    <div class="card">
      <div class="card-content grey-text text-darken-3">
        <p>No inactive customers at this time</p>
      </div>
    </div>
    <% end %>
  </div>



  <!-- Show in active customers -->
  <div id="inactive" class="col s12">
    <% unless @inactive_customers.empty? %><br />
    <div class="card">
      <div class="card-content grey-text text-darken-3">
      <table class="striped">
        <thead>
          <tr>
            <th data-field="id">Name</th>
            <th data-field="name">Phone</th>
            <th data-field="price">Email</th>
          </tr>
        </thead>

        <% @inactive_customers.each do |customer| %>
          <tr>
            <td><%= link_to customer.name, customer_path(customer) %></td>
            <td><%= number_to_phone customer.phone %></td>
            <td>
              <div id="email"><%= mail_to customer.email, customer.email, encode: "javascript" %>
              </div>
            </td>
          </tr>
        <% end %>
        </table>
      </div>
    </div>

    <!-- Add the pagination using will_paginate gem -->
    <br />
    <span class="paginate">
    <%= will_paginate @inactive_customers, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
    </span>
    <br />

    <% else %>
    <br />

    <!-- No inactive customers -->
    <div class="card">
      <div class="card-content grey-text text-darken-3">
        <p>No inactive customers at this time</p>
      </div>
    </div>
    <% end %>
  </div>

</div>

<%= link_to 'New Customer', new_customer_path %>




