<div class ="row">
  <div class="col s12">
    
  <br>
  <table class="striped">
    <thead>
      <tr>
        <th width="200">Category</th>
        <th width="300">Items</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td colspan="1" align="center">
          <b>Bread</b>
        </td>
        <td>
          <% if @bread.empty? %>
            <p class="brown-text">There is no bread to bake today!</p>
          <% else %>
            <% @bread.each do |item| %>
            <p><%= item[1] %> <%= item[0] %></p>
            <% end %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td colspan="1" align="center">
          <b>Muffins</b>
        </td>
        <td>
          <% if @muffins.empty? %>
            <p class="brown-text">There are no muffins to bake today!</p>
          <% else %>
            <% @muffins.each do |item| %>
            <p><%= item[1] %> <%= item[0] %></p>
          <% end %>
        <% end %>
        </td>
      </tr>

      <tr>
        <td colspan="1" align="center">
          <b>Pastries</b>
        </td>
        <td>
          <% if @pastries.empty? %>
            <p class="brown-text">There are no pastries to bake today!</p>
          <% else %>
            <% @pastries.each do |item| %>
            <p><%= item[1] %> <%= item[0] %></p>
            <% end %>
          <% end %>
        </td>
      </tr>
        
    </tbody>
  </table>

  
  </div>
</div>
