<table class="striped">
  <thead>
    <tr>
      <th width="300">Item</th>
      <th width="100">Quantity</th>
      <th width="100">Unit Price</th>
      <th width="100">Subtotal</th>
    </tr>
  </thead>
  <tbody>
    <% order_items.each do |oi| %>
      <tr>
        <td>
          <%= link_to oi.item.name, item_path(oi.item) %>
          <br><h5><%= link_to "Remove", remove_item_path(oi.item) %></h5>
        </td>
        <td align="center"><%= oi.quantity %></td>
        <td align="center"><%= number_to_currency oi.item.price_on_date(Date.today) %></td>
        <td align="right"><%= number_to_currency oi.subtotal(Date.today) %></td>
      </tr>
    <% end %>
      <tr>
        <td colspan="3" align="left">
          Shipping Cost:
          <h4><b>Grand Total:</b></h4>
        </td>
        <td align="right">
          <%= number_to_currency @shipping_cost %>
          <br><b><%= number_to_currency @grand_total %></b>
        </td>
      </tr>
  </tbody>
</table>