<h5 class="deep-orange-text"><i class="mdi-navigation-chevron-left"></i><a href="/orders">Orders</a></h5>
<h1>Order Details</h1>

<p class="brown-text">
  <b>Order placed</b>: <%= @order.date.strftime('%B %e, %Y') %>
<p class="brown-text">
  <b>Ship to</b>: <%= link_to @order.address.recipient, address_path(@order.address) %>
</p>
<p>
  <%= render partial: "order_item_list", locals: {order_items: @order_items, date: @order.date} %>
</p>
<br>
<p class="brown-text">
  <em>Thanks for being a Bread Express customer since <%= @order.customer.created_at.year %>.</em>
</p>

<br>
<% if logged_in? && current_user.role?(:admin) %>
	<% if @order.is_destroyable? %>
	<%= link_to "Delete", order_path(@order), method: :delete, data: { confirm: 'Are you sure you wish to delete this order?' }, class: "waves-effect waves-light btn white-text"%>
	<% end %>
<% end %>