<!-- shipping details -->
<table>
  <tr> 
    <td>
      <b>Customer Information</b><br>
      <%= @order.customer.name %><br>
      <%= number_to_phone @order.customer.phone %><br>
      <%= @order.customer.email%><br>
    </td>
    <td>
      <b>Recipient Information</b><br>
      <%= @order.address.recipient %><br>
      <%= @order.address.street_1 %><br>
      <% if @order.address.street_2.blank? %>
        <%= @order.address.city %>, <%= @order.address.state %> <%= @order.address.zip %>
      <% else %>
        <%= @order.address.street_2 %><br>
        <%= @order.address.city %>, <%= @order.address.state %> <%= @order.address.zip %>
      <% end %>
    </td>
  </tr>
</table>

<table class="striped">
  <thead>
    <tr>
        <th data-field="id">Item</th>
        <th data-field="name">Qty</th>
        <th data-field="price">Item Price</th>
    </tr>
  </thead>

<!-- order details -->
  <tbody>
    <tr>
      <td>Standard Package<br>
        &nbsp;&nbsp;&nbsp;&nbsp;1 Loaf Honey Wheat Bread<br>
        &nbsp;&nbsp;&nbsp;&nbsp;1 Loaf Cinnamon Swirl Bread<br>
        &nbsp;&nbsp;&nbsp;&nbsp;1 Loaf Sourdough Bread<br>
        &nbsp;&nbsp;&nbsp;&nbsp;1 Dozen Blueberry Muffins<br>
      </td>
      <td>1</td>
      <td>$<%= number_with_precision(@order.grand_total, :precision => 2) %></td>
    </tr>
  </tbody>
</table>

<br>
<p><em>Thanks for being a Bread Express customer since <%= @order.customer.created_at.year %>.</em></p>






















