<div id="inactive" class="col s12">
  <% unless @orders.empty? %><br>
    <div class="card">
      <div class="card-content">
        <table class="hoverable">
          <thead>
            <tr>
              <th data-field="date">Date</th>
              <th data-field="customer">Customer</th>
              <th data-field="recipient">Recipient</th>
              <th data-field="grand_total">Cost</th>
            </tr>
          </thead>

        <% @orders.each do |order| %>
          <tr>
            <td><%= link_to order.date.strftime("%m/%d/%y"), order_path(order) %></td>
            <td><%= link_to order.customer.name, customer_path(order.customer) %></td>
            <td><%= order.address.recipient %></td>
            <td align="right">$<%= number_with_precision(order.grand_total, :precision => 2) %></td>
          </tr>
        <% end %>
        </table>
      </div>
    </div>

    <!-- Add the pagination for orders -->
    <br>
    <span class="paginate">
    <%= will_paginate @orders, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
    </span>
    <br>
    
    <!-- No orders -->
    <% else %>
    <br>
    <div class="card">
      <div class="card-content">
        <p>There are no orders at this time.</p>
      </div>
    </div>
    <br>
  <% end %>

</div>
