<div class ="row">
  <div class="col s12">

  <% if @orders_to_ship.empty? %>
    <br><p class="brown-text">There are no orders to ship today!</p>
    
  <% else %>
  <br>
  <table class="striped">
    <thead>
      <tr>
        <th width="100">Date Placed</th>
        <th width="200">Ship To</th>
        <th width="200">Items</th>
        <th width="50">Shipped?</th>
      </tr>
    </thead>

    <% @orders_to_ship.each do |o| %>
      <tr>
        <td align="center"><%= o.date.strftime("%m/%d/%y") %></td>
        <td><%= o.address.recipient %><br>
            <%= o.address.street_1 %><br />
            <% unless o.address.street_2.blank? %>
              <%= o.address.street_2 %><br />
            <% end %>
            <%= o.address.city %>, <%= o.address.state %> <%= o.address.zip %>
        </td>
        <td>
          <% o.order_items.each do |oi| %>
            <p><%= oi.quantity %> <%= oi.item.name %></p>
          <% end %>
        </td>
        <td align="center">
          <% o.order_items.each do |oi| %>
            <%= link_to(edit_order_item_path(oi, status: 'shipped_asgn'), class: 'checkbox') do %>
              <% if oi.shipped_on.nil? %>
              <i class="mdi-content-clear"></i><br>
              <% else %>
                <i class="mdi-action-done"></i><br>
              <% end %>
            <% end %>
          <% end%>
        </td>
      </tr>
    <% end %>
  </table>

  <% end %>
  
  </div>
</div>
<br>