<br>
<div class="flat-card" >
  <div class="card-content">
    <h1>Orders</h1>

    <div class="row">
      <div class="col s9">
        <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#pending">Pending Orders</a></li>
          <li class="tab col s3"><a href="#all">All Orders</a></li>
        </ul>

        <!-- admin view -->
        <% if current_user.role?(:admin) %>
          <!-- Show pending orders -->
          <%= render partial: "order_list", locals: {orders: @pending_orders, state: 'pending'} %>
          <!-- Show all orders -->
          <%= render partial: "order_list", locals: {orders: @all_orders, state: 'all'} %>

        <!-- customer view -->
        <% else %>
          <!-- Show pending orders -->
          <%= render partial: "customer_order_list", locals: {orders: @pending_orders, state: 'pending'} %>
          <!-- Show all orders -->
          <%= render partial: "customer_order_list", locals: {orders: @all_orders, state: 'all'} %>
        <% end %>

      </div>
      <div class="col s3">
        <%= render partial: "quick_links" %>
      </div>
    </div>
  </div>
</div>
<br>