<h2>Order Details</h2>

<table>
  <tr> 
    <td width="350">
      <%= render partial: "order_shipping" %>
      <%= render partial: "order_items" %>
      <br>
      <p><em>Thanks for being a Bread Express customer since <%= @order.customer.created_at.year %>.</em></p>
    </td>
    <td width="30">&nbsp;</td>
    <td width="220">
      <%= render partial: "order_history" %>
    </td>
  </tr>
</table>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to "Destroy", @order, method: :delete, data: { confirm: 'Are you sure you wish to delete this information?' } %> |
<%= link_to 'View Orders', orders_path %>

<p id="notice"><%= notice %></p>