<p id="notice"><%= notice %></p>

<p>
  <b>Recipient:</b>
  <%= @order.recipient %>
</p>

<p>
  <b>Last name:</b>
  <%= @author.last_name %>
</p>

<%= render :partial => "list_of_books" %>


<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>