<h2>Order Details</h2>

<p>
  <b>Recipient:</b>
  <%= @order.address.recipient %>
</p>

<p>
  <b>Thanks for being a Bread Express customer since <%= @order.customer.created_at.strftime("%Y") %></b>
</p>

<%= render partial: "order_history" %>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>

<p id="notice"><%= notice %></p>