<div id="active" class="col s12">
<% unless @active_addresses.empty? %>
<br>
<div class="card">
  <div class="card-content">
    <table class="hoverable">
      <thead>
        <tr>
          <th data-field="customer">Customer</th>
          <th data-field="recipient">Recipient</th>
          <th data-field="address">Address</th>
          <th data-field="is_billing">Billing?</th>
          <th data-field="edit">Edit</th>
        </tr>
      </thead>

  <% @active_addresses.each do |address| %>
    <tr>
      <td><%= link_to address.customer.proper_name, customer_path(address.customer) %></td>
      <td><%= address.recipient %></td>
      <td><%= address.street_1 %><br>
          <% if address.street_2.blank? %>
            <%= address.city %>, <%= address.state %> <%= address.zip %>
          <% else %>
            <%= address.street_2 %><br>
            <%= address.city %>, <%= address.state %> <%= address.zip %>
          <% end %>
      </td>
      <td><%= address.is_billing ? "Yes" : "No" %></td>
      <td><%= link_to 'Edit', edit_address_path(address) %></td>
    </tr>
  <% end %>
  </table>
  </div>
</div>

  <!-- Add the pagination for active addresses -->
  <br>
  <span class="paginate">
    <%= will_paginate @active_addresses, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
  </span>
  <br>

  <!-- No active addresses -->
  <% else %>
  <br>
  <div class="card">
    <div class="card-content">
      <p>There are no active addresses at this time.</p>
    </div>
  </div>
  <br>
<% end %>

</div>