<%= form_for(@address) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h3>

      <ul>
      <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br />
    <%= f.collection_select :customer_id, Customer.all.alphabetical, :id, :name, prompt: "Select ..." %>
  </div>
  <div class="field">
    <%= f.label :recipient %><br />
    <%= f.text_field :recipient %>
  </div>
  <div class="field">
    <%= f.label :street_1 %><br />
    <%= f.text_field :street_1 %>
  </div>
  <div class="field">
    <%= f.label :street_2 %><br />
    <%= f.text_field :street_2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="row">
    <div class="input-field col s6">
    <%= f.label :state %><br />
    <%= f.select(:state, Address::STATES_LIST) %>
    </div>
    <div class="input-field col s6">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  </div>
  <div class="field">
    <p>
      <%= f.check_box :is_billing %>
      <%= f.label :is_billing %>
    </p>
    <p>
      <%= f.check_box :active %>
      <%= f.label :active %>
    </p>
    <br />
  </div>
  <div class="form-actions">
    <%= f.submit nil, class: 'btn' %>&nbsp;&nbsp;
    <% if @address.created_at.blank? %>
      <%= link_to 'Cancel', addresses_path, :class => 'btn deep-orange lighten-3' %>
    <% else %>
      <%= link_to 'Cancel', address_path(@address), :class => 'btn deep-orange lighten-3' %>
    <% end %>
  </div>
<% end %>