<%= form_for(@address) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h3>

      <ul>
      <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="input-field col s12">
    <label for="address_customer_id" class="active">Customer</label>
    <%= f.collection_select :customer_id, Customer.all.alphabetical, :id, :name, prompt: "Select ..." %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
    <%= f.label :recipient %>
    <%= f.text_field :recipient %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
    <%= f.label :street_1 %>
    <%= f.text_field :street_1 %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
    <%= f.label :street_2 %>
    <%= f.text_field :street_2 %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
    <%= f.label :city %>
    <%= f.text_field :city %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
    <label for="address.state" class="active">State</label>
    <%= f.select(:state, Address::STATES_LIST) %>
    </div>
    <div class="input-field col s6">
    <%= f.label :zip %>
    <%= f.text_field :zip %>
  </div>
  </div>
  <div class="field">
    <p>
      <%= f.check_box :is_billing %>
      <%= f.label :is_billing %>
    </p>
    <p>
      <%= f.check_box :active %>
      <%= f.label :active %>
    </p>
    <br>
  </div>
  <div class="form-actions">
    <%= f.submit nil, class: 'btn' %>
    <% if @address.created_at.blank? %>
      &nbsp;&nbsp;<%= link_to 'Cancel', addresses_path, :class => 'btn deep-orange lighten-2' %>
    <% else %>
      &nbsp;&nbsp;<%= link_to 'Cancel', address_path(@address), :class => 'btn deep-orange lighten-2' %>
    <% end %>
  </div>
<% end %>