<%= simple_form_for(@address) do |f| %>
  <div class="row">
    <div class="input-field col s8">
      <% if logged_in? && current_user.role?(:admin) %>
        <label for="address_customer_id" class="active">Customer</label>
        <%= f.collection_select :customer_id, Customer.all.alphabetical, :id, :name, prompt: "Select ..." %>
      <% else %>
        <%= f.input :customer_id, as: :hidden, input_html: {value: current_user.customer.id} %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s8">
    <%= f.input :recipient, label: "Recipient", required: false %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s8">
    <%= f.input :street_1, label: "Street 1", required: false %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s8">
    <%= f.input :street_2, label: "Street 2", required: false %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s8">
    <%= f.input :city, label: "City", required: false %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4">
    <label for="address.state" class="active">State</label>
    <%= f.select(:state, Address::STATES_LIST, prompt: "Select ...") %>
    </div>
  <div class="input-field col s4">
    <br>
    <%= f.input :zip, label: "Zip", required: false %>
  </div>
  </div>
  <div class="field">
    <p><br>
      <%= f.check_box :is_billing %>
      <%= f.label :is_billing %>
    </p>
    <p><br>
      <%= f.check_box :active %>
      <%= f.label :active %>
    </p>
    <br>
  </div>
  
  <div class="form-actions">
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
    <% if @address.created_at.blank? %>
      &nbsp;&nbsp;<%= link_to "Cancel", addresses_path, class: "waves-effect waves-light btn white-text orange lighten-2" %>
    <% else %>
      &nbsp;&nbsp;<%= link_to "Cancel", address_path(@address), class: "waves-effect waves-light btn white-text orange lighten-2" %>
    <% end %>
  </div>
<% end %>