<br>
<div class="flat-card" >
  <div class="card-content">

    <h1>Addresses</h1>

    <div class="row">
      <div class="col s9">
        <ul class="tabs">
          <li class="tab col s6"><a class="active" href="#active">Active Addresses</a></li>
          <li class="tab col s6"><a href="#inactive">Inactive Addresses</a></li>
        </ul>

        <!-- admin view -->
        <% if logged_in? && current_user.role?(:admin) %>
          <!-- Show active addresses -->
          <%= render partial: "address_list", locals: {addresses: @active_addresses, state: 'active'} %>
          <!-- Show in inactive addresses -->
          <%= render partial: "address_list", locals: {addresses: @inactive_addresses, state: 'inactive'} %>

        <!-- customer view -->
        <% else %>
          <!-- Show active addresses -->
          <%= render partial: "address_book_list", locals: {addresses: @active_addresses, state: 'active'} %>
          <!-- Show in inactive addresses -->
          <%= render partial: "address_book_list", locals: {addresses: @inactive_addresses, state: 'inactive'} %>
        <% end %>

      </div>
      <div class="col s3">
        <%= render partial: "quick_links" %>
      </div>
    </div>

  </div>
</div>

<br>