<h2>Address Details</h2>

<b><%= @address.recipient %></b><br>
<%= @address.street_1 %><br>
<% if @address.street_2.blank? %>
  <%= @address.city %>, <%= @address.state %> <%= @address.zip %>
<% else %>
  <%= @address.street_2 %><br>
  <%= @address.city %>, <%= @address.state %> <%= @address.zip %>
<% end %>

<p id="notice"><%= notice %></p>