<%= f.error_notification %>

<div class="input-field col s12">
  <%= f.input :name, label: "Name *", required: false %>
</div>
 <div class="input-field col s12">
  <%= f.input :description, label: "Description" %>
</div>
<div class="input-field col s12">
  <%= f.input :picture, label: "Picture" %>
</div>
<div class="input-field col s12">
  <%= f.input :category, :collection => Item::CATEGORIES, prompt: "Select ...", label: "Category *", required: false  %>
</div>
<div class="input-field col s12">
  <%= f.input :units_per_item, label: "Units Per Item *", required: false %>
</div>
<div class="input-field col s12">
  <%= f.input :weight, label: "Weight *", required: false %>
</div>
