<div class="input-field col s12">
  <%= f.label :name, required: false %>
  <%= f.text_field :name %>
</div>
 <div class="input-field col s12">
  <%= f.label :description %>
  <%= f.input_field :description %>
</div>
<div class="input-field col s12">
  <%= f.label :picture %><br />
  <%= f.file_field :picture %>
</div>
<div class="input-field col s12">
  <label for="item.category" class="active">Category</label>
	<%= f.select(:category, Item::CATEGORIES, prompt: "Select ...") %>
</div>
<div class="input-field col s12">
  <%= f.label :units_per_item %>
  <%= f.text_field :units_per_item %>
</div>
<div class="input-field col s12">
  <%= f.label :weight %>
  <%= f.text_field :weight %>
</div>
