<%= simple_nested_form_for @item, :html => { :class => 'form-horizontal', :multipart => true } do |item_form| %>
  
  <div class="row">
    <%= render :partial => "fields_item", :locals => { :f => item_form } %>

    <div id="item_item_prices">
      <%= item_form.simple_fields_for :item_prices do |item_price_form| %>
        <%= render :partial => "fields_item_price", :locals => { :f => item_price_form } %>
      <% end %> 
    </div>
    
    <div class="form-actions">
      <div class="form-actions">
    <%= item_form.submit nil, :class => 'button radius' %>
    <%= link_to 'Cancel', items_path, :class => 'button secondary' %>
  </div>
    </div>

  </div>
<% end %>