<div class="card">
  <div class="card-content">
    <% if logged_in? && current_user.role?(:admin) %>
      <div class="row">
        <div class="col s3">
          <%= render partial: "item_image" %>
        </div>
        <div class="col s4">
          <%= render partial: "item_details" %>
        </div>
        <div class="col s5">
          <%= render partial: "price_history" %>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col s5">
          <%= render partial: "item_image" %>
        </div>
        <div class="col s7">
          <%= render partial: "item_details" %>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <%= render partial: "similar_items" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>