<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>A and M Bread Express</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col s8">
          <!-- MAIN CONTENT GOES HERE -->
          <%= yield %>
          <%= javascript_include_tag "application" %>
        </div>

        <br><br><br>

        <div class="col s3 offset-s1 card">
          <!-- SIDEBAR CONTENT GOES HERE -->
          <%= render partial: 'partials/quick_links' %>
        </div>
      </div>
    </div>

    <footer class="container">
      <div class="row">
        <div class="col s12 center">
          <%= render partial: 'partials/footer' %>
        </div>
      </div> 
    </footer>     
  </body>
</html>