<!DOCTYPE html>
<!-- only for index page -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      A &amp; M Bread Express | <%= controller.controller_name.capitalize %>
    </title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- NAVIGATION BEGIN -->
    <%= render partial: 'partials/nav' %>
    
    <div id="main_content">
    <!-- MAIN CONTENT GOES HERE -->
    <%= yield %>
        
    </div>

    <%= render partial: 'partials/footer' %>

  </body>
</html>